body {
    margin: 0;
    background-color: rgba(244, 252, 252, 0.986) ;
    align-items: center;
    justify-content: center;
}

.top_menu {
    position: relative  ;
}
.header_menu {
    background-color: rgba(206, 224, 224, 0.986);
    border-bottom: 3px solid rgb(108, 168, 170);
    height:45px;

}

.header_menu .content_header_menu {
    display: flex;
    width: 100%;
    height: auto;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    color:rgb(10, 87, 70);
}
.img_logo {
    width: 30px;
    height: 21px;
    padding-right: 10px;
}

.footer_menu {
    top: 47px;
    width: 100%;
    height: 75px;
    background-color:rgba(244, 252, 252, 0.986);
    display: flex;
    justify-content:space-between;
    align-items: center;
    position: fixed;
    z-index: 2;
}
.footer_menu_contac {
    margin-left:10%;
    width:180px;
    display: flex;
    justify-content: space-around;
}

.footer_menu_contac ion-icon {
    font-size: 23px;
    color: gray;
}
.footer_menu_contac ion-icon:hover {
    color: rgb(88, 225, 243);
}

.footer_menu_mybags {
    font-size: 35px;
    text-decoration: none;
    color: rgb(55, 144, 156);
    position: relative;
}

.footer_menu_mybags:hover {
    background: linear-gradient(to right, #49c7c7 0%, #7102fa 100%); 
    background-clip: text;
    color: transparent;

}

.footer_menu_myaccout {
    margin-right: 10%;
    width:240px;
    font-size:19px;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content:space-between;
}
.footer_menu_myaccout_style{
    text-decoration: none;
    color: gray;
}
.footer_menu_myaccout_style:hover {
    color: rgb(96, 68, 252);
}
.footer_menu_accout_cart {
    cursor:pointer;
    width:50px;
    padding:5px 10px 5px 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}   
.footer_menu_accout_cart:hover{
    border: 1px solid rgb(54, 99, 107);
}
.cart-icon {
    color:gray;
}

.cart-icon:hover {
    color: #8B4513;
}

.menu_body {
    margin-top:90px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.menu_body_content {
    display: flex;
    width: 50%;
    justify-content: space-around;
} 
.menu_body_content_click{
    text-decoration: none;
    position: relative;
    color:  gray;
}
 
.menu_body_content_click:hover{
    color:  rgb(81, 168, 184);
}
.menu_body_content_click::after {
    content: "";
    position: absolute;
    bottom: -1.5px;
    left: 0;
    width: 0;
    height: 1px;
    background: linear-gradient(to right, rgb(4, 250, 172) 0% , rgb(14, 229, 100) 100%);
    transition: width 0.3s;
    opacity: 0;
}
    
.menu_body_content_click:hover::after {
    width: 100%;
    opacity: 1;
}

.get_your_bags_today_body {
    margin: 0;
    position: relative;
}
.get_your_bags_today_body_backgroud{
    background-color: rgba(25, 161, 161, 0.986) ;
}
.get_your_bags_body_backgroud_imgstyle{
    width: 100%;
    height: 540px;
}
.get_your_bags_today_body_conten{
    width: 50%;
    height:540px;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    text-align: center;
}
.get_your_bags_today_body_contenstyle {
    font-size: 55px;
    color: rgb(241, 250, 248);
    margin-top:80px;
    margin-bottom: 20px;
    font-family:Arial Black;
}

.get_your_bags_today_body_conten_browse {
    text-decoration: none;
    color: white;
    padding: 15px;
    border: 2px solid white;
    border-radius: 6px;
}
.get_your_bags_today_body_conten_browse:hover {
    background-color: azure;
    color: rgba(25, 161, 161, 0.986);
}

.sticky {
    top:0px;
    opacity: 0.95;
}
.body_view{
    justify-content: center;
    align-items: center;
}
.newcollection {
    height: 250px;
    overflow: hidden;

}
.newcollection_content {
    margin-top: 100px;
    background: linear-gradient(to right, #023d86 0%,#03e028 100%); 
    background-clip: text;
    color: transparent;
    font-family: "Poppins", Sans-serif;
    font-size: 30px;
    font-weight: 600;
    line-height: 1.1em;
    letter-spacing: 5px;
}
.newcollection_style{
    height: 50px;
    text-align: center;
}
.newcollection_star{
    display: flex;
    margin-bottom: 50px;
    align-items: center;
    justify-content: center;
}
.newcollection_star_icon{
    list-style: none;
}
.list_item{
    width: 100%;
    height: 310px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.list{
    width: 80%;
    height: 300px; 
    display: flex;
    justify-content: space-around;
}
.list_bags{
    position: relative;
    width: 20%;
    height:300px;
    align-items: center;
    text-align: center;
}
.img_bags{
    width: 250px;
    height: 200px;
    cursor: pointer;
    transition: transform 0.2s ease;
}
.img_bags:hover{
    transform: translateY(4px); 
}
.name_bags{
    margin: 0;
    padding: 0;
    height: 50px;
    color: gray;
    font-size:16px;

}
.name_bags:hover{
    color: rgb(4, 182, 99);
    cursor: pointer;
}
 
.prices{
    margin: 0;
    height: 50px;
    font-family:'Times New Roman', Times, serif;
    color: rgb(167, 98, 8);
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 0.5px;
}
.shoppallbags{
    margin-top: 40px;
    margin-bottom: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.shoppallbags_conten{
    width: 50%;
    display: flex   ;
    align-items: center;
    justify-content: center;
}
.shoppallbags_conten_button{
    cursor: pointer;
    color:rgb(12, 219, 188);
    background-color:rgba(244, 252, 252, 0.986) ;
    width: 225px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 17px;
    height: 63px;
    padding: 10px 20px 10px 20px;
    border-radius: 5px;
    border: solid 1px rgb(12, 219, 188);
}
.shoppallbags_conten_button:hover{
    color: rgba(244, 252, 252, 0.986);
    background-color: rgb(12, 219, 188);
}

.offic_sport_travel{
    width: 100%;
    height: 450px;
    display:flex ;
    align-items: center;
    justify-content: center;
}
.offic_sport_travel_contet{
    width: 70%;
    height: 450px;
    display: flex;
    justify-content: space-between;
}
.img_offic_sport_travel{
    height: 420px;
    width: 325px;
}
.office{
    position: relative;
    justify-content: center;
    align-items: center;
    display: flex;

}
.img_offic_sport_travel:hover{
    padding-top: 4px;
    transition: width 0.1s;
}
.sport{
    position: relative;
    justify-content: center;
    align-items: center;
    display: flex;
}
.travel{
    position: relative;
    justify-content: center;
    align-items: center;
    display: flex;
}
.img_top{
    position: absolute;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 40px;
    top:22%;
    color:rgb(255, 255, 255);

}
.img_body{
    position: absolute;
    top: 46%;
    height: 2px;
    width: 50px;
    color:white;
    background-color: white;
    transition: color 0.1s ease;
    cursor: pointer;
}

.img_bottom{
    position: absolute;
    top: 55%;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    color: white;
    border-bottom: solid 2px white;
    cursor: pointer;
    transition: border-bottom 0.7s ease;
}
.img_bottom:hover{
    border: 0px;
    background: linear-gradient(to right, #a3f0a0 0%, #97fcf7 100%); 
    background-clip: text;
    color: transparent;
    font-weight: bold;
}

.follow{
    margin-top: 90px;
    height: 775px;
    padding-top:60px;
    width: 100%;
    background-color:#e8edef;
    display: block;
}   
.folow_content{
    text-align: center;
    margin-top: 60px;
    margin-bottom: 60px;
    font-size: 20px;
    background: linear-gradient(to right, #031d2c 0%, #0eeee3 100%); 
    background-clip: text;
    color: transparent;
    font-weight: bold;
}
.follow_img{
    height: 190px;
    width: 100%;
}
.style_img {
    width: 280px;
    height: 185px;
    padding: 0px 6px 6px 6px;
}
.flow_img1_img::after {
    content: "";
    position: absolute;
    bottom: -1.5px;
    right: 6px;
    left: 6px;
    bottom: 10px;
    width:0;
    height:185px;
    background: rgb(0,0,0.3);
    transition: width 0.3s;
    opacity: 0;
}
    
.flow_img1_img:hover::after {
    width: 280px;
    opacity: 0.2;
}

.flow_img1{
    display: flex;
    align-items: center;
    justify-content: center;
}
.wouldship{
    margin-top: 30px;
    height: 140px;
    width: 100%;
    display: flex;
    justify-content: center;
}
.wouldship_br{
    height: 2px;
    border-radius:50px;
    background-color: rgb(19, 198, 238);
    width: 90px;
}
.wouldship_conten{
    color: #04949f;
    margin-top:40px;
    text-align: center;
    font-family:Arial, Helvetica, sans-serif ;
    font-size: 25px;
}
.wouldship1{
    width:50%;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.footer_body_top{
    width: 100%;
    display: flex;
    text-align: center;
    justify-content: center;
}
.footer_top{
    display: flex;
    width: 90%;
    align-items: center;
    justify-content: space-around;
}
.footer_top1{
    margin-left: -78px;
    text-align: center;
    align-items: center;
}
.footer_top1_logo_mybags{
    color: #08928b;
}

.footer_top2{
    margin-top: 35px;
    font-size: 18px;
    width: 45%;
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.footer_top3{
    margin-top:45px;
    font-size: 20px;
    text-align: center;
}
.footer_style:hover{
    color: #15e9d3;
    cursor: pointer;
}
.footer_body_bottom{
    margin-top: 25px;
    height: 58px;
    width: 100%;
    color: rgb(17, 20, 22);
    font-weight: bold;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    background-color: #e8edef;
}